<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
  <strong>Email:</strong>
  <%= @user.email %>
=======
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
>>>>>>> b339cc41de4cde6b61b1164bb97564f691fb6cc8
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
