<div class="header">
    <p class="page_title">WAIET</p>
</div>
<br>
<% if !@end_of_list %>
<%= link_to "Edit Preferences", preferences_path(categories: @cat, prices: @price_range) %>
    <% if @size == 0 %>
        <h3>There are no open restaurants with your current preferences:</h3>
    <% else %>
        <section>
        <h3>Restaurant <%= @count + 1 %> out of <%= @size %> that is open and matches those filters:</h3>
        <h2>__________________________________________________________________________</h2>
        </section>
        <div class = "row">
            <div class = "dislike-column">
                <%= button_to "Dislike", {:controller => "results", :action => "index", :categories => @cat, :prices => @price_range, 
                        :counter => @count += 1, :init => true, :random_ind => params[:random_ind]}, {class: "dislike-button"} %>
                <br></br>
            </div>
            <section>
                <div class = "choice-column">
                    <% @photos.each do |p| %>
                            <%= image_tag(p, :height => 250, :crop => "pad", :class => "pics") %>
                    <% end %></br>
                    <h3><%= (@restaurant["name"]) %>
                    </h3>
                    <h4><%= @restaurant["location"]["address1"] %></h4>
                    <h5><%= (@restaurant["rating"])%> rating with <%= @restaurant["review_count"]%> reviews.</h5>
                    <h2>Click For More: 
                        <a href=<%= (@restaurant["url"]) %> target="_blank">
                            <img class="yelp" src="https://vivalajaiba.com/wp-content/uploads/2018/07/yelp-logo.png" alt="Yelp Link">
                        </a>
                    </h2>
                </div>
            </section>
            <div class = "like-column">
                <%= button_to "Like", {:controller => "results", :action => "index", :categories => @cat, :prices => @price_range, 
                        :counter => @count, :liked_pos => @count-1, :init => true, :random_ind => params[:random_ind]}, {class: "like-button"} %>
            </div>
        </div>
        <section>
        <h2>__________________________________________________________________________</h2></br>
        </section>
    <% end %>
<% else %>
    <% if @final_rests.empty? %>
        <h3>There are no restaurants that you liked with your current preferences</h3>
        <%= link_to "Edit Preferences", preferences_path(categories: params[:categories], prices: params[:prices]) %>
    <% else %>
        <%= link_to "Edit Preferences", preferences_path(categories: params[:categories], prices: params[:prices]) %>
        <section>
        <h3>Restaurants you liked with your current preferences:</h3>
        <h2>__________________________________________________________________________</h2>
        <% @final_rests.each do |r| %>
            <% Client.business(r["id"])["photos"].each do |p| %>
                <%= image_tag(p,  :height => 250, :crop => "pad")%>
            <% end %>
            <h4><a href=<%= (r["url"]) %> target="_blank"><%= (r["name"]) %></a></h4>
            <h5><%= r["location"]["address1"] %></h5>
            <h6><%= (r["rating"])%> rating with <%= r["review_count"]%> reviews.</h6>
            <h2>__________________________________________________________________________</h2></br>
        <% end %>
        </section>
    <% end %>
<% end %>
</div>