<div class="header">
    <p class="page_title">WAIET</p>
</div>
<%= "Preferences: "%>
<%= @cat %>,
<%= "Price Range: "%>
<%= @price_range %>
<br>
<% if !@end_of_list %>
<%= link_to "Edit Preferences", preferences_path(categories: params[:categories], prices: params[:prices]) %>
    <% if @size == 0 %>
        <h3>There are no open restaurants with your current preferences:</h3>
    <% else %>
        <h3>Restaurant <%= @count + 1 %> out of <%= @size %> that is open and matches those filters:</h3>
        <h2>__________________________________________________________________________</h2>
        <% @photos.each do |p| %>
                <%= image_tag(p, size: "300x300")%>
        <% end %>
        <h4><a href=<%= (@restaurant["url"]) %> target="_blank"><%= (@restaurant["name"]) %></a></h4>
        <h5><%= @restaurant["location"]["address1"] %></h5>
        <h6><%= (@restaurant["rating"])%> rating with <%= @restaurant["review_count"]%> reviews.</h6>
        </br>
        <%= button_to "Like", {:controller => "results", :action => "index", :categories => @cat, :prices => @price_range, 
                :counter => @count += 1, :liked_pos => @count-1, :init => true, :random_ind => params[:random_ind]}, {class: "like-button"} %>
        <%= button_to "Disike", {:controller => "results", :action => "index", :categories => @cat, :prices => @price_range, 
                :counter => @count, :init => true, :random_ind => params[:random_ind]}, {class: "dislike-button"} %>
        <h6>___________________________________</h6></br>
        <h6><%= @photos %></h6>
    <% end %>
<% else %>
    <% if @final_rests.empty? %>
        <h3>There are no restaurants that you liked with your current preferences</h3>
        <%= link_to "Edit Preferences", preferences_path(categories: params[:categories], prices: params[:prices]) %>
    <% else %>
        <%= link_to "Edit Preferences", preferences_path(categories: params[:categories], prices: params[:prices]) %>
        <h3>Restaurants you liked with your current preferences:</h3>
        <h2>__________________________________________________________________________</h2>
        <% @final_rests.each do |r| %>
            <% Client.business(r["id"])["photos"].each do |p| %>
                <%= image_tag(p, size: "300x300")%>
            <% end %>
            <h4><a href=<%= (r["url"]) %> target="_blank"><%= (r["name"]) %></a></h4>
            <h5><%= r["location"]["address1"] %></h5>
            <h6><%= (r["rating"])%> rating with <%= r["review_count"]%> reviews.</h6>
            <h6>___________________________________</h6></br>
        <% end %>
    <% end %>
<% end %>
    



<!--may or may not need-->
<script type="text/javascript">
//     function buttonClick()
//     {
//         var value = document.getElementById('number').value;
//         value = isNaN(value) ? 0 : value;
//         value++;
//         document.getElementById('number').value = value;
        
//     }
</script> 