<%= "Preferences: "%>
<%= @cat %>,
<%= "Price Range: "%>
<%= @price_range %></br>
<%= link_to "Edit Preferences", preferences_path(categories: params[:categories], prices: params[:prices]) %>
<% if @size == 0 %>
    <h3>There are no open restaurants with your current preferences:</h3>
<% else %>
    <h3>Restaurant <%= @count + 1 %> out of <%= @size %> that is open and matches those filters:</h3>
    <h2>__________________________________________________________________________</h2>
    
    <%= image_tag(@restaurant["image_url"], size: "70x70")%>
    <h4> <%= (@restaurant["name"]) %> </h4>
    <h6> <%= (@restaurant["rating"])%> rating with <%= @restaurant["review_count"]%> reviews.</h6>
    </br>
    <%= button_to "Like", {:controller => "results", :action => "index", 
            :restCategory => @cat, :restPrice => @price_range, :counter => @count += 1}, {class: "w3-left"} %>
    <%= button_to "Disike", {:controller => "results", :action => "index", 
            :restCategory => @cat, :restPrice => @price_range, :counter => @count }, {class: "w3-right"} %>
    <h6>___________________________________</h6></br>
<% end %>



<!--may or may not need-->
<script type="text/javascript">
//     function buttonClick()
//     {
//         var value = document.getElementById('number').value;
//         value = isNaN(value) ? 0 : value;
//         value++;
//         document.getElementById('number').value = value;
        
//     }
</script> 