<div class="header">
    <p class="page_title">WAIET</p>
</div>
<%= form_tag results_path(counter: 0, init: params[:init], random_ind: [*0...10].shuffle) do %> 
  <%= "Select Preferences" %>

  <label class="container">
    <%= check_box_tag "restCategory[]", 'breakfast', params[:categories] && params[:categories].include?('breakfast')%>
    Breakfast<span class="checkmark"></span>
  </label>

  <label class="container">
    <%= check_box_tag "restCategory[]", 'lunch', params[:categories] && params[:categories].include?('lunch')%>
    Lunch<span class="checkmark"></span>
  </label>

  <label class="container">
    <%= check_box_tag "restCategory[]", 'dinner', params[:categories] && params[:categories].include?('dinner')%>
    Dinner<span class="checkmark"></span>
  </label>

  <label class="container">
    <%= check_box_tag "restCategory[]", 'mexican', params[:categories] && params[:categories].include?('mexican')%>
    Mexican<span class="checkmark"></span>
  </label>

  <label class="container">
    <%= check_box_tag "restCategory[]", 'italian', params[:categories] && params[:categories].include?('italian')%>
    Italian<span class="checkmark"></span>
  </label>

  <label class="container">
    <%= check_box_tag "restCategory[]", 'asian', params[:categories] && params[:categories].include?('asian')%>
    Asian<span class="checkmark"></span>
  </label>

  <label class="container">
    <%= check_box_tag "restCategory[]", 'american', params[:categories] && params[:categories].include?('american')%>
    American<span class="checkmark"></span>
  </label>

  <label class="container">
    <%= check_box_tag "restCategory[]", 'vegan', params[:categories] && params[:categories].include?('vegan')%>
    Vegan<span class="checkmark"></span>
  </label>

  <label class="container">
    <%= check_box_tag "restCategory[]", 'vegetarian', params[:categories] && params[:categories].include?('vegetarian')%>
    Vegetarian<span class="checkmark"></span>
  </label>

  <label class="container">
    <%= check_box_tag "restCategory[]", 'fast food', params[:categories] && params[:categories].include?('fast food')%>
    Fast Food<span class="checkmark"></span>
  </label>

  <label class="container">
    <%= check_box_tag "restCategory[]", 'gluten free', params[:categories] && params[:categories].include?('gluten free')%>
    Gluten Free<span class="checkmark"></span>
  </label>
  <br>
  
  <%= "Select Prices" %>
  <label class="container">
    <%= check_box_tag "restPrice[]", '1', params[:prices] && params[:prices].include?('1')%>
    $ (under $10)<span class="checkmark"></span>
  </label>

  <label class="container">
    <%= check_box_tag "restPrice[]", '2', params[:prices] && params[:prices].include?('2')%>
    $$ ($11-30)<span class="checkmark"></span>
  </label>

  <label class="container">
    <%= check_box_tag "restPrice[]", '3', params[:prices] && params[:prices].include?('3')%>
    $$$ ($31-60)<span class="checkmark"></span>
  </label>

  <label class="container">
    <%= check_box_tag "restPrice[]", '4', params[:prices] && params[:prices].include?('4')%>
    $$$$ ($61+)<span class="checkmark"></span>
  </label>

<%= submit_tag "Submit" %>
<% end %>